div[sclass~="password-container"] {
	background-color: #d6d6d6;
	color: #000000;
	
	margin: 2px 2px 2px 2px;
	padding: 0 0.25em 0 0.25em;
	background-color: #ffffff;
	
	border-width: 0.15em;
	border-color: #999999;
	border-top-style: hidden;
	border-right-style: hidden;
	border-bottom-style: solid;
	border-left-style: hidden;
	outline: none;
	
	display: flex;
	flex-direction: column;
}

div[sclass~="password-container"] > div[sclass~="container"] {
	display: flex;
}

div[sclass~="password-container"] > div[sclass~="container"] > input[sclass~="field"] {
	outline: none;
	text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    width: 100%;
    font-size: 1em;
}

div[sclass~="password-container"] > div[sclass~="container"] > button[sclass~="reveal"] {
	outline: none;
	text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    position: relative;
    width: 18px;
}

div[sclass~="password-container"] > div[sclass~="container"] > button[sclass~="reveal"]:after {
	position: absolute;
	top: -2px;
	right: 0;
    content: '\1F441';
	font-size: 18px;
	color: #000000;
}

div[sclass~="password-container"] > div[sclass~="container"] > button[sclass~="reveal"]:hover {
	opacity: 0.6;
}